@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	/* font-weight: light; */
}


html {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}

body{
	/* background-image: url('./img/background.png'); */
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
}

#root {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}

.home {
	padding: 20px;
	background: limegreen;
}

.animating {
	background: lightsalmon;
	position: absolute;
}

.login-form {
	max-width: 400px;
}
.login-form-forgot {
	float: right;
}
.login-form-button {
	width: 100%;
}
.login {
	border-radius: 5%;
	position: relative;
	top: 100px;
	z-index: 1;
	background: #FFFFFF;
	max-width: 400px;
	margin: 0 auto 20px;
	padding: 20px 40px 40px 40px;
	text-align: center;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.24);
}

.heading {
	padding-bottom: 20px;
}

.logo {
	background: #ffffff;
	text-align: center;
	padding: 11px;
	border: 1px solid #ececec;
}

.ant-layout-sider-zero-width-trigger{
	top: 0!important;
	height: 48px!important;
	background-color: #ececec!important;
}

.bodyWrap {
	width: 85%;
	margin: auto;
}

.gap {
	margin-top: 40px;
}

.small_gap {
	height: 20px;
	width: 100%;
}


.round-rect{
	margin: auto;
	margin-top: 50px;
	display: block;
	background: rgba(250,250,250,1);
	/* border: 2px solid rgba(138,193,188,0.9); */
	/* border-radius: 15px; */
}

.react{
	padding:5px 10px 30px 10px;
}

/* .bottom-box{
	position: fixed;
	left:0;
	bottom: 0;
	background: rgba(138,193,188,0.9);
	height: 50px;
	width:100%;
	z-index: 10;
} */
/* .top-box{
	position: fixed;
	left:0;
	top: 0;
	background: rgba(138,193,188,0.9);
	height: 50px;
	width:100%;
	z-index: 10;
} */

/* table{
	background-color: #ececec;
} */